.page {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .page h1, h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .page p {
    margin-bottom: 10px;
  }
  
  .page ol {
    margin-left: 20px;
  }
  
  .consent {
    margin-top: 20px;
  }
  .consent p{
    font-weight: bold;
  }
  .consent ul {
    list-style: disc;
    margin-left: 40px;
  }
  
  .consent-button {
    margin-top: 20px;
    text-align: center;
  }
  
  .check-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
  }
  .check-block button{
    margin-top: 1rem;
  }
  .input-container{
    margin-top: 1rem;
  }
  .input-container input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
 
