/* display css */
.projection {
  border: 1px solid #ddd; /* 边框 */
}

  .chart-part {
    position: relative;
    }
    
  .display-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f4f4f4; /* 背景颜色 */
    border: 1px solid #ddd; /* 边框 */
    padding: 10px; /* 内边距 */
    font-size: 1.2em; /* 字体大小 */
    color: #333; /* 字体颜色 */
  }

  .instruction-text {
    flex:1;
    margin-bottom: 1rem;
  }
  .topic-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* 宽度 */
    /* padding: 10px; 内边距 */
    font-size: 0.8em; /* 字体大小 */
  }
  .custom-select{
    margin-left: 25px;
  }
 
  .topic-select a {
    text-decoration: none;
}
