/* display css */
.chart-part {
    position: relative;
    height:40rem;
    align-items: center;
    /* padding-top: 20px; */
    }
  
  .projection{
    margin-top: 2rem;
  }

  .chart-part svg {
    position:absolute;
    width: 100%;
    height: 100%;
    
    /* padding:0; */
    /* padding: 1rem 0.5rem 1rem; */
  }

  .display-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f4f4f4; /* 背景颜色 */
    border: 1px solid #ddd; /* 边框 */
    padding: 10px; /* 内边距 */
    font-size: 1.2em; /* 字体大小 */
    color: #333; /* 字体颜色 */
  }

  .instruction-text {
    flex:1;
    margin-bottom: 1rem;
  }
  
  .topic-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* 宽度 */
    /* padding: 10px; 内边距 */
    font-size: 0.8em; /* 字体大小 */
  }
  .custom-select{
    margin-left: 25px;
  }
 
  

