/* dnd css */
.dnd-display {
    /* padding: 10px; */
    /* // border: 4px solid indianred; */
    border-radius: 6px;
    height: 600px;
    width: 70%;
    margin: 0 auto;
  }
  
  .list-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 4px;
  }

  .each-grid {
    border-radius: 10px;
    overflow: hidden; 
}
  
  .semantic-header {
    background: #2d2d2d;
    text-align: center;
    color:white;
    padding: 5px;
    font-size: 1.5em;
    font-weight: bold;
  }

  .drop-column{
    padding: 10px;
    background: #f4f4f4;
    overflow-y: auto;
    height: 600px
  }
  
  .patches-container {
    display: grid;
    grid-gap: 10px;
    flex-direction: column;
  }
  
  .dragging {
    border: 2px solid #27183F; 
  }
  .dragging-over {
    background-color: #FFF9CB;
  }
  .dnd-header {
    display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4; /* 背景颜色 */
  border: 1px solid #ddd; /* 边框 */
  padding: 10px; /* 内边距 */
  font-size: 1.2em; /* 字体大小 */
  color: #333; 
  }