/* logout */
.thanks-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f0f0f0; 
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    overflow: auto;
  }
  
  .thanks-text {
    font-size: 24px; 
    color: #333; 
    border: 1px solid #ddd; 
    padding: 20px;
    border-radius: 10px;
    background-color: #fff; 
  }


.final-rate {
  list-style-type: none;
  width: 55%; 
  margin-top: 1rem;
}
.final-rate h2 {
  color: #333; 
    font-size: 1.5rem;
    text-align: center; 
    /* margin-bottom: 1rem;  */
}

.final-rate li {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.final-rate li p {
  /* margin-bottom: 10px; */
}

.final-rate button {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}


.likertLegend {
    /* margin-bottom: 1px; */
    /* display: flex; */
    /* flex-direction: row;  */
    /* flex-wrap: wrap;  */
    /* justify-content: center;  */
    /* width: 100%;  */
}

.likertBand {
    flex-grow: 0;
    width: 100%; 
    transform: scale(0.8); /* 整体缩放比例 */
}

.likertText{
  font-size: 0.8em; /* 单独轴上的字的大小 */

}
  
  fieldset.likertScale .likertIndicator {
/*     
    border: thin solid black;
    background-color: lightGray; */

  }



