/* logout */
.thanks-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 100%;
    background-color: #f0f0f0; 
  }
  
  .thanks-text {
    font-size: 24px; /* Adjust this value as needed */
    color: #333; /* Dark grey text */
    border: 1px solid #ddd; /* Light grey border */
    padding: 20px;
    border-radius: 10px;
    background-color: #fff; /* White background */
  }

  .final-rate {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%; /* 设置宽度为页面的60% */
    margin: 0 auto; /* 居中 */
}

.likertLegend {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row; /* 设置为行方向 */
    flex-wrap: wrap; /* 允许换行 */
    justify-content: center; /* 水平居中 */
    width: 100%; /* 占满父元素的宽度 */
}

.likertBand {
    flex-grow: 0;
    width: 100%; /* 占满父元素的宽度，强制换行 */
}

  
  fieldset.likertScale .likertIndicator {
/*     
    border: thin solid black;
    background-color: lightGray; */

  }



