:root {
  --border-radius-500: 8px;
  --color-on-background: #ffffff;
  --fonts-primary: Karla, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body,main {
  display: flex;
  flex-direction: column;

  margin: 0;
  height: 100%;
}

.header {
  background: #333;
  color: #fff;
  padding: 20px;
  display:flex;
  justify-content: space-between;
}
.header h1 {
  font-size: 40px;
}
.header button {
  background-color: #333; /* 背景颜色 */
  color: white; /* 字体颜色 */
  padding: 15px 32px; /* 内边距 */
  text-align: center; /* 文本居中 */
  text-decoration: none; /* 去掉文本装饰 */
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; /* 鼠标悬停时变为手形 */
  
}

.header button:hover {
  background-color: #282727;
}


.main-container {
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: white;
  padding: 1rem 0.5rem 1rem;
}

button {
  padding: 0.5rem;
  color:black;
}


button:hover {
  background-color: #adaaaa;
}






